@import "variables";

h1 {
    color: $color-primary;
}

.input-field {
    label {
        color: $color-primary;
    }
}

.navbar {
    display: flex;
    justify-content: space-evenly;

    &--tab {
        flex-grow: 1;
        padding-block: $margin-md;
        text-align: center;
        border-radius: $margin-lg;

        &:hover {
            cursor: pointer;
        }

        p {
            margin: 0;
        }

        &__active {
            background-color: white;
        }
    }
}

.tab-content {
    border-radius: $margin-md;
    padding: $margin-lg;
    background-color: white;
    box-shadow: $margin-sm $margin-sm $margin-sm $margin-sm rgba(0, 0, 0, 0.2);
}

.tab {
    display: none;

    &--active {
        display: block;
    }
}